{% extends "Blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% load static %}
    <div class="input-section">
        <div class="input-section-body">
            <h2 class="title">Регистрация</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.username }}
                {{ form.password }}
                <button class="submit-button" type="submit">
                    Войти
                </button>
            </form>
            Нужен аккаунт? <a class="ml-2" href="{% url 'register' %}">Зарегистрироваться здесь</a>
        </div>
    </div>
{% endblock %}